body{
	margin: 0;
	font-family: 'Open Sans', sans-serif; /*se hereda el tipo de fuente a todo lo que este dentro del body*/
	color: #515151;
}

a{
	color: #515151;
}

header{
	background: #1C3643;
	height: 52px;
	padding: 0 10px;

/*forma 3 con flex-box  nota flex afecta a los hijos de la etiqueta seleccionada*/
	display: flex; 
	justify-content: space-between;
	align-items: center; /*alinea itemas dentro de header, dif propiedades se asigno centro*/
/*----------------------------------*/

}

.header-right{
	height: inherit; /*hereda el alto del padre*/
	display: flex;
	align-items: center; 
}

.header-right .button{
	margin-left: 10px;
}

.button{
	background: gray;
	/*border-bottom: 5px solid black;*/
	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, .3); 
	font-size: 14px;
	padding: 5px 10px 10px;
	border-radius: 5px;
	text-decoration: none;
	color: white;
	transition: .2s;
}

/*hace que el elemento button se haga pequeño cuando es clickeado*/
.button:active{ /*pseudo  clase*/
	transform: scale(.9);
}

.button.red{ /*widget se extiende la clase del button*/
	background: #ff4842;
/*	border-color: yellow;*/
}

nav{
/*	mover elemento a lado derecho de diferentes formas 
*/
/*forma 1
	float: right;*/

/*forma 2	
	position: absolute;
	right: 0;     
	top: 0;*/

/*forma 3 en header*/
/*----------------*/
	height: inherit;
/*	border: 1px solid blue;*/

}

nav ul{
	margin: 0;
	display: flex; /*cambia la posicion de los elementos en una linea*/
	height: inherit;

}

nav li{
	list-style: none; /*quita los estilos en las listas*/
	color: white;
	height: inherit;
	display: flex;
	align-items: center;

}

nav li:after{ /*pseudo clase*/
	content: "|";

/*--agrega separacion igual entre elementos de la etiqueta--*/
	display: inline-block;
/*	margin: arriba y abajo 0 hacia los costados 10px;*/
/*----------------------------------------------------------*/
}

/*quita el ultimo | dentro del menu*/
nav li:last-child:after{ 
	display: none;
}


nav a{
	color: white;
	text-decoration: none; /*quita subrayado de elementos*/
	height: inherit;
	display: flex;
	padding: 0 10px;
	align-items: center;
	/*border-top: 5px solid trasparent; */


}


nav a:hover{ /*pseudo clase*/
	/*border-top: 5px solid red; los bordes son parte del modelo de caja*/

  /*box-shadow: [donde se ubica la sombra] [x] [y] [difuminado] [color];*/
	box-shadow: inset 0 5px 0 red; /*aplicando sombras: las sombras no son parte del modelo de caja*/


}

nav a.is-active{
	box-shadow: inset 0 5px 0 #7DCD40; /*aplicando sombras: las sombras no son parte del modelo de caja*/

}

h1{
	margin: 0;
	font-weight: 600;
	margin-bottom: 15px;
}

.portada{
	/*border: 10px solid red;*/
/*	nota: para poder acomodar elementos con posicion absoluta se necesita 
	asignar una posicion absoluto al padre del objeto a mover*/
	position: relative;
	margin-bottom: 20px;
}

.portada .descripcion{
	background: rgba(255, 255, 255, .8); /*agrega opacidad al color blanco*/
	position: absolute; /*revisar nota de .portada*/
	bottom: 30px;
	left: 20px;
	padding: 20px;


}

.blog{
	width: 1000px; /*asigna tamaño del contenedor de la imagen*/ 
	margin: 0 auto; /*centra elemento*/ 
}

.blog-items{
	display: flex; /*pone los elementos uno al costado de otro*/
	flex-wrap: wrap; /*cuando un elemento ya no tiene espacio dentro del contenedor hace un barrido hacia abajo*/ 

/*forma alineacion horizontal a los elementos
	space-aroud = mismo margen de izquierda y derecha
	space-between = agrega el mismo margen pero solo entre elementos*/

	justify-content: space-between;
}

.blog-items h3{
	font-weight: 600;
	margin: /*arriba,abajo*/ 10px /*hacia los costados*/ 0 15px;
	
}

.item-blog{
	width: 300px;
}

.item-blog .descripcion{
	margin-bottom: 15px;
}

.paginador{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
}

.paginador ul{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: 10px; 
}

.paginador li{
	background: #EAEAEA;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	border-color: 1px solid grey;
	margin: 0 5px;
}

.paginador li.selected{
	border-color: transparent;
	background: white;
}

.paginador a{
	margin: 0 10px;
	text-decoration: none;
	display: block;
	background: inherit;
	
}

.autor{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 13px;
	border-top: 2px solid gray;
	padding-top: 15px;

}

.autor img {
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 5px;
}

.autor p {
	margin: 0;
}

